- provide(:page_title, "Post #{@post.name}")
%ul.pager
  %li.previous
    = link_to 'â† Back to posts', category_posts_path
%h1
  = @post.name
  = link_to edit_category_post_path(@post.category_id, @post.id),
            class: "btn btn-default",
            title: 'edit post' do
    %span.glyphicon.glyphicon-pencil
.row.text-center
  - unless @post.filename.file.nil?
    =image_tag @post.filename.url, class: 'img-thumbnail img-responsive photo'
.row
  %p.lead
    = @post.content

.row
  = render( partial: 'comments/form', locals: { remote: true })
%h3 Comments:
#comments.own-comments.panel-body{data: {"post-id" => @post.id}}
  = render @post.comments.last_some
